@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

* {
  padding: 0;
  margin: 0;
}

body {
  background: grey;
}

/* #grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
} */

.thumbnail {
  border: solid black;
  width: 100%;
}

.thumbnail:hover {
  border: solid plum;
}

#thumbnail-container {
  display: inline-flex;
  position: fixed;
  width: 400px;
  bottom: 1rem;
  left: 30rem;
  grid-row-start: 3;
  grid-row-end: 4;
}

.copy-image,
#large-image-container {
}

footer {
  position: fixed;
}
@media (max-width: 375px) {
  #thumbnail-container {
    position: fixed;

    width: 300px;
    bottom: 0.5rem;
    left: 2.5rem;
  }
  #large-image-container {
    position: absolute;
    top: 10rem;
  }
}
