@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
  background: grey;
}

/* #grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
} */

.thumbnail {
  border: solid black;
}

.thumbnail:hover {
  border: solid plum;
}

#thumbnail-container {
  display: inline-flex;
  position: fixed;
  width: 100px;
  bottom: 10px;
  left: 30rem;
  grid-row-start: 3;
  grid-row-end: 4;
}

.copy-image,
#large-image-container {
}

footer {
  position: fixed;
}
@media (max-width: 375px) {
  #thumbnail-container {
    position: fixed;

    width: 60px;
    bottom: 5px;
    left: 70px;
  }
  #large-image-container {
    position: absolute;
    top: 100px;
  }
}
